@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(8, 134, 8);
     position:relative ;
      top: 100px;
      left: 500px;
 
    
}



.cardval {
  font-size: 100px;
  position: relative;
  top:-20px;
  left: 110px;
}

.top-suits{
    font-size: 100px;
  position: relative;
  top: -15px;
  left: 5px;
  margin-top: -20px;
}

.bottom-suits{
  font-size:  100px;
  position: relative;
  right:5px;
   margin-top:-25px;
}